<!-- *SIDEBAR-NAV* -->
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-tag"></i> Item 1</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="" asp-action="Index"> Item 1.1</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-clipboard"></i> Item 2</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="" asp-action="Index"> Item 2.1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="" asp-action="Index"> Item 2.2</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-pencil"></i> Item 3</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="DispositivosSensores" asp-action="Index"> Item 3.1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ativos" asp-action="Index"> Item 3.2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CadastroMateriais" asp-action="Index"> Item 3.3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ConsultarDocumentacao" asp-action="Index"> Item 3.4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CadastroItensContentor" asp-action="Index"> Item 3.5</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /*SIDEBAR-NAV* -->
