@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">0</span></a>
    </li>
    
    <li class="nav-item dropdown pr-1">
        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="@User.Claims.SingleOrDefault(p => p.Type == "Avatar").Value" class="img-avatar avatar mr-0" alt="@User.Claims.SingleOrDefault(p => p.Type == "Email").Value">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <form asp-area="" asp-controller="" asp-action="" method="get">
                <button type="submit" class="dropdown-item" href="#"><i class="fa fa-user"></i> Menu Item 1</button>
            </form>
                
            <form asp-area="" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="dropdown-item" href="#"><i class="fa fa-lock"></i> Sair</button>
            </form>
        </div>
    </li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item px-3">
            <a asp-area="" asp-controller="" asp-action="Register">Cadastre-se</a>
        </li>
        <li class="nav-item px-3" style="margin-right: 15px !important;">
            <a asp-area="" asp-controller="" asp-action="Login">Entrar</a>
        </li>
    </ul>
}