@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<style>
    .card {
        border: none;
        border-radius: 5px;
    }

    #btn-login:disabled {
        cursor: not-allowed;
    }
</style>

<div class="row justify-content-center">
    <div class="col-sm-8 col-lg-4">
        <div class="card bg-white">
            <div class="card-header bg-transparent border-0 pb-0">
                <img src="~/img/omni_logo.png" class="mx-auto d-block ml-2" />
            </div>
            <div class="card-body pt-0">
                <div class="card border-0 bg-transparent m-2 rounded-0">
                    <section>
                        <form class="m-" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="form-login">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <input asp-for="Email" class="form-control rounded" placeholder="Usuário" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-5">
                                <input asp-for="Password" class="form-control rounded" placeholder="Senha" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-12 pb-2">
                                    <button type="submit" class="text-white btn btn-success rounded-1 btn-lg btn-block font-weight-bold mb-2" id="btn-login">Log in</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 text-center ">
                                    <a asp-action="ForgotPassword">Esqueceu sua senha?</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>//handle on click do salvar (edit)
		$(document).on('click', '#btn-login', function () {
			var form = $('#form-login');
			form.validate();

			if (form.valid()) {
				$(this).attr('disabled', 'disabled')
					.html('Aguarde... ')
					.append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

				$('#form-login').submit();
			}
		});</script>
}
